# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main


# no PR triggers
pr: none

pool:
  vmImage: "ubuntu-latest"

steps:
  - task: NodeAndNpmTool@1
    inputs:
      versionSpec: '14.x'
      checkLatest: true

  - script: sudo npm install -g yarn

  - script: yarn install
    displayName: 'Install dependencies'

  - script: yarn build
    displayName: 'build'

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: "$(build.sourcesDirectory)"
      includeRootFolder: false

  - script: zip -r --symlinks '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip' .
    displayName: 'ZIP com SymLinks'

  - task: PublishBuildArtifacts@1
    displayName: "Publish artifacts: drop"

  - task: Veracode@3
    inputs:
      ConnectionDetailsSelection: 'Endpoint'
      AnalysisService: 'veracode'
      veracodeAppProfile: 'uiclaim.tracker'
      version: '$(build.buildNumber)'
      filepath: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
      createProfile: true
      maximumWaitTime: '360'