@import 'bootstrap/dist/css/bootstrap.min.css';
// Uses v5.0.15 version of cagov.core.css and colorscheme-oceanside.css to match version included in EDD Brand Template v1.0.0
@import './cagov.core.css';
@import './colorscheme-oceanside.css';
// Uses custom.css included in EDD Brand Template v1.0.0
@import './custom.css';

// Component class names must not be nested for Storybook to work
// When this file gets too long we'll split it up into component files

html,
body {
  .claim-section {
    margin-top: 3rem;

    .sub-bullets {
      padding-top: 0.25rem;
    }

    .summary-section {
      margin: 1rem 0;
    }

    .appointment {
      margin: 1rem 0 1rem 1.5rem;
    }

    .claim-details {
      padding: 0;

      .claim-details-box {
        padding: 0 1.5rem 1rem 1.5rem;
        border: 4px solid #f0f0f0;
        margin-bottom: 5rem;
      }

      .info {
        padding-top: 1rem;

        .info-label {
          color: #757575;
        }
      }
    }
  }

  .error-content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .error-label {
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 5.25rem;
    }

    .error-entry {
      font-size: 1.5rem;
      padding: 1rem 0;
      line-height: 2rem;
    }
  }

  @media (min-width: 768px) {
    .main-content {
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  //Shrink some vertical spacing between sections on small screens
  @media (max-width: 768px) {
    .claim-section {
      margin-top: 2rem;
    }
  }
}
