# Owners below will be automatically requested for review on new pull requests
# For details see: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*	@kalvinwang @lomky