@import 'bootstrap/dist/css/bootstrap.min.css';
@import './colorscheme-oceanside.min.css';

// Component class names must not be nested for Storybook to work
// When this file gets too long we'll split it up into component files

html,
body {
  font-family: 'Source Sans Pro';
  color: #333333;
  line-height: 22.4px;

  b, strong {
    font-family: 'Source Sans Pro Bold';
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .header {
    width: 100%;

    //flagged important to override important flag in bootstrap
    border-bottom-width: 4px !important;
    border-bottom-color: #fdb81e !important;

    .navbar-brand {
      padding: 0;
    }

    // Keeps the secondary nav bar links right justified
    .navbar-collapse {
      flex-grow: 0;
    }

    // override bootstrap so the hamburger menu stays next to EDD logo instead of overflowing to next line
    @media (max-width: 340px) {
      .edd-logo {
        margin-right: 0 !important;
      }
    }

    .navbar-nav {
      font-size: 14px;
      margin: 0 4px 0 4px;

      .nav-link {
        font-size: 14px;
        margin: 0 4px 0 4px;
      }
    }

    .navbar-dark {
      background-color: #116c97;
      padding: 0 1rem;

      .navbar-nav {
        flex-direction: row;
      }

      .text {
        color: white;
      }
    }

    .navbar-toggler {
      border: 0;
      font-size: 2rem;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='55' height='50' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(17,108,151, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .icon,
    .text {
      vertical-align: middle;
      display: inline-block;
    }
  }

  //Stretch the header/footer edge-to-edge
  .index {
    padding: 0px;
  }

  .language-switcher {
    .text {
      text-decoration: underline;
      color: #046b99;
    }
  }

  .claim-section {
    margin-top: 3rem;
  }

  .claim-subsection {
    margin-top: 1.5rem;
  }

    padding: 0;

    .claim-details-title {
      margin-bottom: 1rem;
    }

    .claim-details-box {
      padding: 0 1.5rem 1.0rem 1.5rem;
      border: 4px solid #f0f0f0;
    }

    .info {
      padding-top: 1rem;
      .info-label {
        color: #757575;
      }
    }
  }

  //override bootstrap for our NextSteps component layout
  ul {
    padding-left: 1rem;
    margin-left: 0.5rem;
  }

  li {
    margin-bottom:0.5rem;
  }

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //Keep reasonable padding regardless of screen size
    .main-content {
      padding: 5rem 1rem;
    }

    @media (min-width: 768px) {
      .main-content {
        max-width: 650px;
      }
    }

    //Shrink some vertical spacing between sections on small screens
    @media (max-width: 768px) {
      .main-content {
        padding: 3rem 1rem;
      }

      .claim-section {
        margin-top: 2rem;
      }

    }

  .shimmer {
    display: inline-block;
    position: relative;
    margin-top: 10px !important;


    -webkit-animation-duration: 1.3s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;

    -moz-webkit-animation-duration: 1.3s;
    -moz-webkit-animation-fill-mode: forwards;
    -moz-webkit-animation-iteration-count: infinite;
    -moz-webkit-animation-name: placeholderShimmer;
    -moz-webkit-animation-timing-function: linear;

    -ms-webkit-animation-duration: 1.3s;
    -ms-webkit-animation-fill-mode: forwards;
    -ms-webkit-animation-iteration-count: infinite;
    -ms-webkit-animation-name: placeholderShimmer;
    -ms-webkit-animation-timing-function: linear;

    -o-webkit-animation-duration: 1.3s;
    -o-webkit-animation-fill-mode: forwards;
    -o-webkit-animation-iteration-count: infinite;
    -o-webkit-animation-name: placeholderShimmer;
    -o-webkit-animation-timing-function: linear;

    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
  }

  //shimmer related
  @-webkit-keyframes placeholderShimmer {
    0% {
      background-position: -400px 0;
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      background-position: 400px 0;
      opacity: 1;
    }
  }

  //shimmer related
  @keyframes placeholderShimmer {
    0% {
      background-position: -400px 0;
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      background-position: 400px 0;
      opacity: 1;
    }
  }

  .shimmer-field {
    margin-bottom: 10px;
  }

  .footer {
    background-color: #222;

    .copyright {
      padding: 5px 8px 23px;
    }

    .navbar {
      padding: 0;
      .nav-link {
        padding: 0.25rem 0.5rem;
        color: whitesmoke;
      }
    }

    .secondary-footer {
      background: #efefef;
    }
  }
}
